body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(270deg, #ffcc00, #ff9900, #ff6600, #ffcc00);
  background-size: 600% 600%;
  animation: gradientFlow 15s ease infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  margin: 0;
  background: #fff;
  overflow: hidden;
}

.hex {
  position: absolute;
  width: 60px;
  height: 69px;
  background: transparent;
  border: 5px solid black;
  clip-path: polygon(
    50% 0%, 100% 25%,
    100% 75%, 50% 100%,
    0% 75%, 0% 25%
  );
  opacity: 0;
  transform: scale(0.5) rotate(0deg);
}
